body {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 188, 155);  
}
.container {
  width: 300px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
input {
  padding: 10px;
}
.text-field {
  font-size: 0.75em;
  border: 0px;
  width: 93%; /* box-sizing: border-box; 설정 후 => 100%*/
  margin: 0px 0px 10px;
  border-radius: 5px;
}
.btn-input {
  font-size: 0.75em;
  border: 0px;
  width: 100%;
  margin: 0px 0px 30px;
  border-radius: 5px;
  color: white;
  background-color: rgb(27, 188, 155);  
}
.links{
  text-align: center;
  margin: 0px;  
}
.links a {
  font-size: 0.75em;
  color: silver;
  padding: 0px;
  margin: 0px;
}
