* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  min-width: 1000px;
}
ul {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  margin: 60px 0;
  font-size: 24px;
  color: #545454;
  font-weight: bold;
  text-align: center;
}
.navbar {
  height: 60px;
  padding: 0 30px;
  background-color: white;
}
.navbar > a {
  float: left;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  font-weight: bold;
}
.navbar > ul {
  float: right;
}
.navbar > ul > li {
  display: inline;
  margin-left: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.navbar > ul > li > a {
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.header {
  width: 100%;
  height: 400px;
  background-image: url("images/main.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}
.products {
  text-align: center;
  padding: 0;
  width: 715px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.products > a {
  display: block;
  float: left;
  margin: 0 0 80px;
  font-size: 16px;
}
.products > a img {
  width: 225px;
  height: 225px;
}
.products > a:nth-child(3n+2) {
  margin: 0 20px;
}
.products ul {
  text-align: center;
  padding: 0;
  margin: 20px auto 0;
}
.products ul li {
  font-size: 16px;
}
.products ul li:last-child {
  margin-top: 4px;
}
.footer {
  clear: both;
  text-align: center;
  margin: 120px auto 80px;  
}
.footer i {
  font-size: 20px;
}
.footer i:nth-child(2) {
  margin: 0 20px;
}
